<style>
th{
  height: 50px;
}

</style>
<% if params[:tag].nil? %>

  <h1>Links</h1>
<% else %>
  <h1>Links with #<%= params[:tag] %></h1>
<% end %>

<%= link_to 'New Link', new_link_path, class: "btn btn-success" %>
<ul class='link-list'>
  <% @links.each do |link| %>
  <li>
    <p><%= link_to link.original_url, link %></p>
    <p><input readonly value="http://<%= @host %>/<%= link.short_url %>"></p>
    <p><small>Visited <%= link.Visited_count %> times.</small></p>

    <p><%= tag_list_with_link(link.tag_list) %></p>
  </li>
   <% end %>
</ul>


<br>


