<style>
.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
</style>


<div class="center">
  
 <h1><%= @link.original_url %></h1>

  <strong>Shorten url:</strong>
  <%=link_to "https://#{@host}/#{@link.short_url}", redirect_path(@link.short_url), :target => '_blank'%></strong>
</p>
<p>
  <strong>Tag: </strong>
  <%= tag_list_with_link(@link.tag_list) %>
</p>

<p>
  <%= link_to 'All link', links_path %>
</p>
<p>
  
  

<%= link_to 'Edit', edit_link_path(@link),  class: "btn btn-warning" %>
<%= link_to 'Delete', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-s' %>

</div>


